///BREAKPOINTS
$mobile: 600px;
$tablet: 960px;
$tablet-landscape: 1024px;
$desktop: 1280px;
$lg-desktop: 1440px;

//Variables
$principalFont: "Encode Sans", sans-serif;
$WeightTitle: 600;
$WeightSubTitle: 400;
$WeightNormal: 100;
$firstColor: #397eb4;
$secondColor: #648dd3;
$thirdColor: #272727;
$fourthColor: #a5a4a4;

// Estilos Product


.containerForm {
    border-radius: 5px;
    background-color: white;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 30%;
    .containerNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    h2{
        color: $firstColor;
        font-weight: $WeightTitle;
    }
    form {
      margin: auto 0;
      label {
        color: $secondColor;
        font-weight: $WeightTitle;
      }
      select,option{
        background-color: transparent;
        color:$thirdColor;
        font-weight: $WeightTitle;
      }
      textarea{
        width: 100%;
        height: 100px;
      }
      .formMix{
        font-weight: $WeightTitle;
        font-size: 14px;
      }
      div {
        margin-bottom: 20px;
      }
      .containerNavFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          background-color: $firstColor;
          border: none;
        }
        a {
          color: #272727 !important;
          font-weight: $WeightTitle;
          font-size: 16px;
        }
      }
    }
  }