@{
	if (!VariableGlobal.SessionBoolActivo ||
	VariableGlobal.SessionStrTipoMenu == "" ||
	(VariableGlobal.SessionStrTipoMenu != "ejecutivo" && VariableGlobal.SessionStrTipoMenu != "operativo"))//si no existe la sesion entonces retornamos a login
	{
		Response.Redirect("~/Acceso.cshtml");
	}

	Page.Title = "SinAcceso";
	int IntPopUp = int.Parse(Request.QueryString["Popup"]?.ToString() ?? "0");
	string StrUrl = Request.QueryString["Url"]?.ToString() ?? "";
	string CodigoError = Request.QueryString["CodigoError"]?.ToString() ?? "";
	string Excepcion = Request.QueryString["Excepcion"]?.ToString() ?? "";

	RegistroError objRegistroError = new RegistroError("", "Global.asax", "Global.asax", "Error 500 al acceder a la página. IdRegistroError: ", -1, Excepcion?.ToString(), (int)Severidad.BAJA, StrUrl);
}

<head>
	<meta charset="utf-8" />
	<title>@Page.Title - @VariableGlobal.StrNombreApicacion</title>

	<link rel="icon" type="img/png" href="~/img/compradores.png" />


	<!-- css -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
	<link href="~/css/animate.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">

	<!-- Toast - Mensajes flotantes -->
	<link href="~/Scripts/plugins/toastr/toastr.min.css" rel="stylesheet" />

	<!-- Modificaciones de estilos al proyecto -->
	<link href="~/css/utileria.css" rel="stylesheet">

	@if (IntPopUp == 0)
	{
		<!-- Mainly scripts -->
		<script src="~/Scripts/jquery-2.1.1.js"></script>
		<script src="~/Scripts/bootstrap.min.js"></script>

		<!-- Toast - Mensajes flotantes -->
		<script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
	}
</head>


<body class="gray-bg">
	<div class="login-page">
		<div class="middle-box text-center errorscreen animated fadeInDown">
			<div>
				<div>
					<h1 class="logo-name">
						<img width="300" src="" />
					</h1>
				</div>
				<br />
				<h3>Error @CodigoError al procesar la página </h3>

				<p>Ocurrió un error al intentar acceder a la página solicitada. Intente nuevamente o contacte a soporte.</p>
				<p><b>Url Error:</b> @StrUrl</p>
				<p><b>Error:</b> @Excepcion</p>

				<input type="hidden" name="hblogin" value="0">
				<button type="submit" class="btn btn_Regresar btn-warning block full-width m-b">Regresar</button>

			</div>
		</div>

	</div>
</body>

<script type="text/javascript">

    if (@IntPopUp == 1) {
        $(".middle-box").css("padding-top", "0px");
    }
    $(".btn_Regresar").click(function () {
       // var url = window.document.referrer;
        //window.location.href = window.document.referrer;
        if (@IntPopUp == 0) {
            history.back();
            return false;
        }
        else {
            $.pgwModal('close');
        }
        });

</script>