@{
    Page.Title = "Mi Perfilv";

    Layout = "~/_SiteLayout.cshtml";
}
<style>

    #page-wrapper {
        padding: 0;
    }
</style>

<div class="wrapper border-bottom white-bg page-heading imagen-trac">
    <div></div>
</div>

<script>

</script>