@using System.Web.WebPages.Html
@{
    List<UsuarioAccion> objUsuarioAccion = null;
    objUsuarioAccion = new UsuarioAccionListadoController().ObtenerMovimientoEspecialUsuarioPerfil(1, 0, HttpContext.Current.Request.Url.AbsolutePath.ToString());

    int Int_MovEspecial_AlianzaSoporte = objUsuarioAccion.Where(x => x.StrCveAccionReferencia.ToUpper() == "OPTIONALIANZASOPORTE").ToList().Count;

    var SessionStrEmailUsuario = VariableGlobal.SessionStrEmailUsuario;
    var SessionStrCveEmpresa = VariableGlobal.SessionStrCveEmpresa;
    var SessionStrDescUsuario = VariableGlobal.SessionStrDescUsuario;
    Layout = "~/_SiteLayout.cshtml";

    Parametro parametro = new Parametro();
    parametro.IntTipoBusqueda = 1;
    parametro.StrCveParametro = "helpdesk_servidor";
    parametro.ObtenerPorClaveParametro();

    string strUrl = parametro.StrValor1char;

    Page.Title = "Helpdesk";
    
}
    @*<br /><br />
    <h2 style="font-weight:bold;text-align:center;">Favor de habilitar las ventanas emergentes para ingresar al helpDesk</h2>*@

<div class="wrapper border-bottom white-bg page-heading">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center" id="lbl_TituloPagina">Helpdesk</h2>
        </div>
        <div class="col-lg-12 text-center">
            <form role="form" id="form_Helpdesk" class="form-inline text-center">
                <div class="form-group m-r-sm">
                    <label for="ddl_helpdesk_Departamento">Departamento:</label>
                    <select class="form-control" id="ddl_helpdesk_Departamento" name="ddl_helpdesk_Departamento">
                        <option value="0">Elija una opción</option>
                        <option value="ti">Ti</option>
                        <option value="capitalhumano">Capital Humano</option>
                        <option value="serviciosgenerales">Servicios Generales</option>
                        @{
                            if (Int_MovEspecial_AlianzaSoporte == 1)
                            {                                
                                <option value='alianza'>Alianza</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group m-r-sm">
                    <label for="ddl_helpdesk_Categoria">Categoria:</label>                    
                    <select class="form-control" id="ddl_helpdesk_Categoria" name="ddl_helpdesk_Categoria">
                        <option value="0">Elija una opción</option>
                    </select>
                </div>
                
                <button id="btn_Redireccionar" class="btn btn-warning" type="button" title="Redireccionar al Helpdesk">Crear Ticket</button>
            </form>
        </div>
    </div>
</div>
    
<script>
    @*setTimeout(function () {
        window.location.href = "@VariableGlobal.StrUrlSitio/Views/Default/Default.cshtml";
    }, 15000);*@

    $(document).ready(function () {
        $("#ddl_helpdesk_Departamento").change(function () {
            let strHtml = "<option value='0'>Elija una opción</option>";

            if ($(this).val() == "ti") {
                strHtml += "<option value='redes'>Redes</option>";
                strHtml += "<option value='soportetecnico'>Soporte Técnico</option>";
                strHtml += "<option value='soportesip'>Soporte SIP</option>";
            } else if ($(this).val() == "alianza") {
                strHtml = "<option value='desarrollo'>Desarrollo</option>";
            } else {
                strHtml = "<option value='soporte'>Soporte</option>";
            }

            $("#ddl_helpdesk_Categoria").html(strHtml);


        });

        $("#btn_Redireccionar").click(function () {
            if ($("#ddl_helpdesk_Departamento").val() == "0" || $("#ddl_helpdesk_Categoria").val() == "0") {
                toastr["error"]("Debe elegir un departamento y una categoria");
            } else {
                let urlfinal = "@strUrl"+"peticionSip.php?p_nombre=@SessionStrDescUsuario&p_email=@SessionStrEmailUsuario.ToLower()&p_cveempresa=@SessionStrCveEmpresa.ToLower()&p_cvedepartamento=" + $("#ddl_helpdesk_Departamento").val() + "&p_categoria=" + $("#ddl_helpdesk_Categoria").val();
                window.open(urlfinal, '_blank');
            }

        });
    });

</script>